:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --Dark-Grey: hsl(0, 0%, 12%);
    --Off-Black: hsl(0, 0%, 8%);
}

body{
    font-family: 'Inter', sans-serif;
    font-weight: 400; /* Regular */
    background-color: var(--Off-Black);
    margin: 20px;
    color: var(--White);
}

h3{
    font-weight:700;
}

h4{
    font-weight:600;
}

.color-green{
    color: var(--Green);   
}

.profile-section{
    padding-bottom: 20px;
    margin-top: 20%;
    margin-bottom: 20%;
    background-color: var(--Dark-Grey);
}

@media screen and (min-width: 800px){
    .profile-section{
    margin-left: 35%;
    margin-right: 35%;
    background-color: var(--Dark-Grey);
    }
}

.img-div{
    display: flex;
    width: 100%;
    justify-content: center;
}

.circular-image {
  border-radius: 50%;
}

.center-text{
    text-align: center; /* Centers text horizontally */
}

.button{
    background-color: var(--Grey);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 12px;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 5px;
}

.button:hover{
    background-color: var(--Green);
    color: var(--Off-Black);
}